*{
    margin:0;
    padding:0px;
    box-sizing: border-box;
} 


$fontcolor: hwb(0 100% 0%);
$fontstyle: Arial;
$fontsize:18px;
$heading-font-size: 22px;




body{
    background-color:rgb(76,141,106) ;
    font-family:$fontstyle; 
    
p{
        font-size: $fontsize;
        color: rgb(239, 211, 169);
    } 

h3{
    font-size: $heading-font-size
    }   

}


/*--- heading of the page ----*/

header{
    text-align: center;
    margin-bottom: 50px;
    color: rgb(239, 211, 169);
    font-size: larger;
    font-family:$fontstyle;
    padding-top: 20px;
}



/*---- book image -----*/

.book1{
    
    display:flex;
    justify-content: space-around;
    gap: 5rem;
    margin: 20px 20px 20px 20px;
    color:$fontcolor;   
    width:103%;
        
}

.book2{

    display:flex;
    justify-content: space-around;
    gap: 5rem;
    margin: 20px 20px 20px 20px ;
    color:$fontcolor;  
}

.book3{

    display:flex;
    justify-content: space-around;
    gap: 5rem;
    margin-left: 30px ;
    color:$fontcolor;
    .image-description3{
        margin-left: 40px;
    }        
}


/*----- button-----*/

button{
    display:flex;
    padding:10px 10px 10px 10px;
    border-radius: 10px;
    border-color: transparent;
    background-color: rgb(236, 220, 201);
    margin-top: 20px;
    
}

button:hover{
    background-color: rgb(233, 135, 16);
    
}  

/* -----a tag------ */

a{
    color: rgb(249, 247, 247);
    text-decoration: none;
}


a:hover{
    background-color: rgb(233, 135, 16);
}

    


@media (min-width:375px) {
    .book1{
    
        display:flex;
        justify-content: space-around;
        gap: 5rem;
        margin: 20px 20px 20px 30px;
        color:$fontcolor;   
        width:103%;
            
    }
    
    
}


